<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img 
                src="/docs/5.1/assets/brand/bootstrap-logo.svg"
                alt="" width="30" height="24" 
                class="d-inline-block align-text-top"
            >
            LuckyFive
        </a>
        <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="#">Buy Ticket</a>
                <a class="nav-link" href="#">Bets</a>
                <a class="nav-link" href="#">Results</a>
                <a class="nav-link" href="#">Schedule</a>
                <a class="nav-link" href="#">FAQ</a>
            </div>
        </div>
    </div>
</nav>