<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'lottery:home' %}">
            <img 
                src="/docs/5.1/assets/brand/bootstrap-logo.svg"
                alt="" width="30" height="24" 
                class="d-inline-block align-text-top"
            >
            LuckyFive
        </a>
        <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                {% if request.path == "/buy-ticket/" %}
                    <a class="nav-link active" href="{% url 'lottery:buy-ticket' %}">Buy Ticket</a>
                {% else %}
                    <a class="nav-link" href="{% url 'lottery:buy-ticket' %}">Buy Ticket</a>
                {% endif %}

                {% if request.path == "/bets/" %}
                    <a class="nav-link active" href="{% url 'lottery:bet-list' %}">Bets</a>
                {% else %}
                    <a class="nav-link" href="{% url 'lottery:bet-list' %}">Bets</a>
                {% endif %}

                {% if request.path == "/lotteries/" %}
                    <a class="nav-link active" href="{% url 'lottery:lottery-list' %}">Lotteries</a>
                {% else %}
                    <a class="nav-link" href="{% url 'lottery:lottery-list' %}">Lotteries</a>
                {% endif %}

                {% if request.path == "/schedule/" %}
                    <a class="nav-link active" href="#">Schedule</a>
                {% else %}
                    <a class="nav-link" href="#">Schedule</a>
                {% endif %}
                
                {% if request.path == "/faq/" %}
                    <a class="nav-link active" href="#">FAQ</a>
                {% else %}
                    <a class="nav-link" href="#">FAQ</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>