.content {
    margin: 180px 70px 180px 70px;
}

.bets-table {
    max-width: 1200px;
}

.bets-table a:link {
    text-decoration: none;
}

.lottery-list a:link {
    text-decoration: none;
}

.buy-ticket-container {
    max-width: 600px;
}