{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid" align="center">
        {% if error %}
            <div class="card border-danger error-card">
                <div class="card-body">
                    <h1><i class="bi bi-x-circle"></i></h1>
                    {% if error == "No active lottery today." %}
                        <h2>No Bets Found.</h2>
                        <p>
                            No bets found since there's no active
                            lottery right now. <br> You can
                            <a href="{% url 'lottery:lottery-list' %}">
                            browse through the previous bets</a> or
                            see the <a href="{% url 'lottery:schedule' %}">
                            next lottery schedule</a>.
                        </p>
                    {% else %}
                        <h2>{{ error }}</h2>
                    {% endif %}
                </div>
            </div>
        {% elif object_list %}
            <div class="table-responsive bets-table">
                <table class="table table-bordered table-sm table-hover caption-top">
                    <caption>
                        <a
                            href="{% url 'lottery:lottery-detail' lottery.pk %}"
                            class="link-dark"
                        >
                            {{ lottery }}
                            <span class="badge bg-secondary">
                                {{ object_list.count }} bets
                            </span>
                        </a>
                    </caption>
                    <thead class="table-dark" align="center">
                        <tr>
                            <th>Bettor</th>
                            <th>LuckyFive</th>
                            <th>Ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bet in object_list %}
                        <tr>
                            <td>{{ bet.bettor }}</td>
                            <td>{{ bet.lucky_five }}</td>
                            <td>{{ bet.ticket }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h1><i class="bi bi-x-circle"></i></h1>
            <h2>No bets found.</h2>
            <p class="text-muted">{{ lottery }}</p>
        {% endif %}
    </div>

{% endblock %}