{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid" align="center">
        {% if error %}
            <h4>{{ error }}</h4>
        {% elif object_list %}
            <div class="table-responsive bets-table">
                <table class="table table-bordered table-sm table-hover caption-top">
                    <caption>
                        <a
                            href="{% url 'lottery:lottery-detail' lottery.pk %}"
                            class="link-dark"
                        >
                            {{ lottery }}
                            <strong>({{ object_list.count }} bets)</strong>
                        </a>
                    </caption>
                    <thead class="table-dark" align="center">
                        <tr>
                            <th>Bettor</th>
                            <th>LuckyFive</th>
                            <th>Ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bet in object_list %}
                        <tr>
                            <td>{{ bet.bettor }}</td>
                            <td>{{ bet.lucky_five }}</td>
                            <td>{{ bet.ticket }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h4>No bets found.</h4>
            <p class="text-muted">{{ lottery }}</p>
        {% endif %}
    </div>

{% endblock %}