{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if current_lottery %}
        <div class="container-fluid buy-ticket-container mb-5" id="buyTicketContainer">
            <div class="card">
                <div class="card-body" id="cardBody">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="walletCheck">
                        <label class="form-check-label" for="walletCheck">
                            I am not sending from an exchange. I am using a cardano
                            native wallet that supports NFTs (e.g. Daedalus, Yoroi, Nami)
                        </label>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="termsCheck">
                        <label class="form-check-label" for="termsCheck">
                            I have read and agreed to the <a href="#">terms and conditions</a>.
                        </label>
                    </div>
                    <div id="alert"></div>
                    <div class="continue-button" align="end" id="acceptBuyTicketNotice">
                        <button class="btn btn-primary">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid" align="center">
            <div class="card border-danger error-card">
                <div class="card-body">
                    <h1><i class="bi bi-emoji-frown"></i></h1>
                    <h2>Ticket booth is closed.</h2>
                    <p>
                        You can't buy a ticket right now since the ticket booth is closed.<br>
                        Visit the <a href="{% url 'lottery:schedule' %}">lottery schedule page</a>
                        to see when can you start buying tickets.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block script %}
    <script type="text/javascript">

        $(document).ready(function() {
            $("#acceptBuyTicketNotice").click(function() {
                var walletCheck = document.getElementById("walletCheck").checked;
                var termsCheck = document.getElementById("termsCheck").checked;
                var $cardBody = $("#cardBody");
                var $alert = $("#alert");
                $alert.empty();

                if (!walletCheck || !termsCheck) {
                    $alert.append(
                        '<div class="alert alert-danger mb-3" role="alert">' +
                        'Please agree to all terms and conditions.</div>');
                } else {
                    $.ajax({
                        url: `{% url 'lottery:accept-notice' %}`,
                        data: {
                            walletCheck: walletCheck,
                            termsCheck: termsCheck
                        },
                        success: function (response) {
                            if (response.status_code == 200) {
                                $cardBody.empty();
                                console.log(response)

                                let paymentAddress = '<div class="mb-4"><h5>Please send 5 ADA to this address:</h5><div style="background-color: gray; padding: 20px; color: white; border-radius:10px;">' + response.payment_address + '</div>';

                                let luckfive = '<div class="mb-3"><label for="luckyFive" class="form-label h5">Your LuckyFive number:</label><input type="number" class="form-control" id="luckyFive"></div>';

                                let button = '<div class="continue-button" align="end"><button class="btn btn-primary">Continue</button></div>';

                                $cardBody.append([paymentAddress, luckfive, button]);

                            } else {
                                let message = '<div class="alert alert-danger mb-3" role="alert">' +
                                    response.message + '</div>';
                                $alert.append(message);
                            }
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}