{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid buy-ticket-container mb-5" id="buyTicketContainer">
        <div class="card">
            <div class="card-body" id="cardBody">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="walletCheck">
                    <label class="form-check-label" for="walletCheck">
                        I am not sending from an exchange. I am using a cardano
                        native wallet that supports NFTs (e.g. Daedalus, Yoroi, Nami)
                    </label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="termsCheck">
                    <label class="form-check-label" for="termsCheck">
                        I have read and agreed to the <a href="#">terms and conditions</a>.
                    </label>
                </div>
                <div id="alert"></div>
                <div class="continue-button" align="end" id="acceptBuyTicketNotice">
                    <button class="btn btn-primary">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script type="text/javascript">

        $(document).ready(function() {
            $("#acceptBuyTicketNotice").click(function() {
                var walletCheck = document.getElementById("walletCheck").checked;
                var termsCheck = document.getElementById("termsCheck").checked;
                var $cardBody = $("#cardBody");
                var $alert = $("#alert");
                $alert.empty();

                if (!walletCheck || !termsCheck) {
                    $alert.append(
                        '<div class="alert alert-danger mb-3" role="alert">' +
                        'Please agree to all terms and conditions.</div>');
                } else {
                    $.ajax({
                        url: `{% url 'lottery:accept-notice' %}`,
                        data: {
                            walletCheck: walletCheck,
                            termsCheck: termsCheck
                        },
                        success: function (response) {
                            console.log(response)
                            if (response.status_code == 200) {
                                $cardBody.empty();

                                let paymentAddress = '<div class="mb-3" style="background-color: gray; padding: 20px; color: white;">addr1q8jhm8jyrg90k257ydac04cydql3g2d3xgew9aklr03mwq93t2u48rlllwv7utx4wte3p89ykywn0ykjz49w94yg7uxq4d4jav';

                                let luckfive = '<div class="mb-3"><label for="luckyFive" class="form-label">Lucky Five</label><input type="number" class="form-control" id="luckyFive" aria-describedby="help"><div id="help" class="form-text">Please input your lucky-five number</div></div>';

                                let button = '<div class="continue-button" align="end"><button class="btn btn-primary">Continue</button></div>';

                                $cardBody.append([paymentAddress, luckfive, button]);

                            } else {
                                let message = '<div class="alert alert-danger mb-3" role="alert">' +
                                    response.message + '</div>';
                                $alert.append(message);
                            }
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}