{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid content">
        {% if lottery.is_active %}
            <h3>Active Lottery</h3>
            <p>Lottery draw_date: {{ lottery }}</p>
        {% else %}
            <h3>Lottery Result</h3>
            <ul>
                <li>Draw date: {{ lottery }}</li>
                <li>LuckyFive: {{ lottery.lucky_five }}</li>
                <li>Winners: {{ lottery.winners }}</li>
            </ul>
        {% endif %}
    </div>
   
   <!--  <div class="container-fluid lottery-info">
        <div class="row">
            <div class="col" align="center">
                <h2>500/40,000</h2>
            </div> 
            <div class="col" align="center">
                <h2>₳ 20,000</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <h5>Ticket Count</h5>
            </div> 
            <div class="col" align="center">
                <h5>Pot</h5>
            </div>
        </div>
    </div> -->

    <!-- top bets section -->
    <!-- <div class="container-fluid top-bets">
        <div class="row mb-2">
            <div class="col" align="center">
                <h3>Latest Bets</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead align="center">
                    <tr>
                        <th>
                            Bettor
                        </th>
                        <th>
                            Lucky - 5
                        </th>
                        <th>
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr>
                        <td>
                            xxxxxxxx
                        </td>
                        <td>
                            52312
                        </td>
                        <td>
                            5/12/21
                        </td>
                    </tr>
                    <tr>
                        <td>
                            xxxxxxxx
                        </td>
                        <td>
                            31232
                        </td>
                        <td>
                            5/21/21
                        </td>
                    </tr>
                    <tr>
                        <td>
                            xxxxxxxx
                        </td>
                        <td>
                            32131
                        </td>
                        <td>
                            3/02/21
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

{% endblock %}

