{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        {% if lottery.is_active %}
            <h3>Active Lottery</h3>
            <p>Lottery draw_date: {{ lottery }}</p>
        {% else %}
            <h3>Lottery Result</h3>
            <ul>
                <li>Drawn: {{ lottery }}</li>
                <li>LuckyFive: {{ lottery.lucky_five }}</li>
                <li>Winners: {{ lottery.winners.count }}</li>
            </ul>
        {% endif %}
    </div>

{% endblock %}