{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for lottery in object_list %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <a href="{% url 'lottery:lottery-detail' lottery.pk %}">
                            {{ lottery }}
                        </a>
                    </div>
                    <div class="card-body" align="center">
                        {% if lottery.lucky_five %}
                            <p class="fs-1 fw-bold">{{ lottery.lucky_five }}</p>
                        {% else %}
                            <p class="fs-1 fw-bold">ongoing</p>
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'lottery:bet-list' %}?lottery={{ lottery.seq }}">
                                    {{ lottery.active_bets.count }} Bets
                                </a>
                            </div>
                            <div class="col">
                                {{ lottery.winners.count }} Winners
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}