{% extends 'base.html' %}

{% block content %}

	<div class="container-fluid" align="center">
		<div class="card border-info schedule-card">
			<div class="card-header text-muted">
				Weekly Lottery Schedule
			</div>
			<div class="card-body">
				<div class="ticket-sale-schedule mb-5">
					<h4><i class="bi bi-ticket-perforated"></i> Ticket Sale:</h4>
					<h5 class="text-primary">Monday 09:00 UTC to Sat 17:00 UTC</h5>
				</div>
				<div class="result-schedule">
					<h4><i class="bi bi-megaphone"></i> Result Announcement:</h4>
					<h5 class="text-success">Every Sunday 09:00 UTC</h5>
				</div>
			</div>
		</div>
	</div>

{% endblock %}